In [1]:
#Dependencies and setup
import matplotlib
import matplotlib.pyplot as plt
import datetime as dt
from matplotlib.dates import DateFormatter
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

In [3]:
#Load Marijuana Tax Revenue csv
tax_df = pd.read_csv("Resources/marijuana_tax.csv", dtype="object", encoding="utf-8")
tax_df

,Date,State Sales Tax,Retail Sales Tax,Retail Excise Tax (15%),License & Fees,Total Taxes & Fees,Total to Date
0,2/1/2014,"$1,330,209","$1,401,568","$195,318","$592,661","$3,519,756","$3,519,756"
1,3/1/2014,"$1,460,429","$1,434,916","$339,615","$857,615","$4,092,575","$7,612,330"
2,4/1/2014,"$1,569,405","$1,898,685","$609,907","$902,995","$4,980,992","$12,593,322"
3,5/1/2014,"$1,559,710","$2,217,607","$734,351","$761,687","$5,273,355","$17,866,677"
4,6/1/2014,"$1,569,454","$2,070,577","$1,135,648","$940,028","$5,715,707","$23,582,384"
...,...,...,...,...,...,...,...
76,6/1/2020,"$1,287,667","$22,814,211","$8,454,927","$1,067,803","$33,624,609","$1,375,145,032"
77,7/1/2020,"$1,288,715","$24,644,660","$9,381,481","$814,882","$36,129,738","$1,411,274,770"
78,8/1/2020,"$1,433,419","$27,794,380","$10,470,917","$996,898","$40,695,613","$1,451,970,383"
79,9/1/2020,"$1,339,939","$26,656,923","$9,682,085","$947,467","$38,626,414","$1,490,596,797"
80,10/1/2020,"$1,170,328","$24,593,888","$8,821,260","$824,817","$35,410,293","$1,526,007,090"